<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rems.eqmt.persistence.EqmtInverterStatusMapper">

	<!-- 매장별 포트번호 select -->
	<select id="retrieveInverterList" parameterType="Map" resultType="SelectVo">
	<![CDATA[
	    SELECT
	            PORT_NO              AS value
	    	  , DEVICE_LOC			AS name	      
	      FROM TH_STR_INV_HUB
	    WHERE STR_CD = #{strCd}
	       AND HUB_ID = 1
	       AND USE_YN = 'Y'
	     ORDER BY CAST(PORT_NO AS UNSIGNED)
	]]>
	</select>	

	<select id="retrieveInverterStatusList" parameterType="Map" resultType="GridInverterStatusVo">
	<include refid="rems.common.persistence.CommonMapper.PagingTemplateHeader" />
	<![CDATA[
		SELECT 
		              A.STR_CD AS strCd
					, B.STR_NM AS strNm 
					, A.YYYYMMDD AS yyyyMmDd
					, A.HHMIN AS hhMin
					, DATE_FORMAT(A.YYYYMMDD,'%Y-%m-%d') AS yyyyMmDdView
					, CONCAT(SUBSTR(A.HHMIN,1,2), ':', SUBSTR(A.HHMIN,3,2)) AS hhMinView   		
					, A.HUB_ID AS hubId
					, A.PORT_NO AS portNo
					, A.DEVICE_TYPE AS deviceType
					, A.FW_VER AS fwVer
					, A.MODEL AS model
					, A.ALARM_MASK AS alarmMask
					, A.ALARM_SP AS alarmSp
					, SUBSTRING(A.ALARM_SP,1,1) AS temp8
					, SUBSTRING(A.ALARM_SP,2,1) AS temp7
					, SUBSTRING(A.ALARM_SP,3,1) AS temp6
					, SUBSTRING(A.ALARM_SP,4,1) AS temp5
					, SUBSTRING(A.ALARM_SP,5,1) AS temp4
					, SUBSTRING(A.ALARM_SP,6,1) AS temp3
					, SUBSTRING(A.ALARM_SP,7,1) AS temp2
					, SUBSTRING(A.ALARM_SP,8,1) AS temp1
					, SUBSTRING(A.ALARM_SP,9,1) AS link
					, SUBSTRING(A.ALARM_SP,10,1) AS comp
					, SUBSTRING(A.ALARM_SP,11,1) AS lowPressure
					, SUBSTRING(A.ALARM_SP,12,1) AS highPressure
					, SUBSTRING(A.ALARM_SP,13,1) AS deSensor
					, SUBSTRING(A.ALARM_SP,14,1) AS inSensor
					, SUBSTRING(A.ALARM_SP,15,1) AS lowTemp
					, SUBSTRING(A.ALARM_SP,16,1) AS highTemp
					, A.ERR_CD AS errCd
					, A.OPER_MODE AS operMode
					, A.SENS_TEMP AS sensTemp
					, A.SENS_TEMP_CONF AS sensTempConf
					, A.SENS_TEMP_OUT AS sensTempOut
					, A.MAX_TEMP_ALARM_YN AS maxTempAlarmYn
					, A.MAX_TEMP AS maxTemp
					, A.MIN_TEMP_ALARM_YN AS minTempAlarmYn
					, A.MIN_TEMP AS minTemp
					, A.DEFROST_SENS_TEMP AS defrostSensTemp
					, A.DEFW_OWNER AS defwOwner
					, A.DEFROST_TEMP_CONF AS defrostTempConf
					, A.DEFROST_TERM AS defrostTerm
					, A.DEFROST_DELAY AS defrostDelay
					, A.DEWATER_DELAY AS dewaterDelay
					, A.SEND_SP AS sendSp
					, A.REGI_ID AS regiId
					, A.REGI_DTTM AS regiDttm
					, A.FINAL_MOD_ID AS finalModId
					, A.FINAL_MOD_DTTM AS finalModDttm
					, C.DEVICE_LOC AS deviceLoc
				FROM TH_STR_INV_HUB_STATUS A, TH_STR_INFO_MST B, TH_STR_INV_HUB_MST C
			 WHERE A.STR_CD = B.STR_CD
				 AND A.STR_CD = C.STR_CD
				 AND A.HUB_ID = C.HUB_ID
				 AND A.PORT_NO = C.PORT_NO 
		     AND A.STR_CD	= #{strCd}
		     AND B.USE_YN = 'Y'
		     AND C.USE_YN = 'Y'
	]]>
	<if test="portNo != null and portNo != ''">
	     AND A.PORT_NO		= #{portNo}
	</if>
	<if test="yyyyMmDd != null and yyyyMmDd != ''">
	     AND A.YYYYMMDD	= #{yyyyMmDd}
	</if>
	<if test='alarmYn != null and alarmYn == "Y"'>
	     AND A.ALARM_SP != '0000000000000000'
	</if>
	<![CDATA[
	ORDER BY yyyymmdd desc, hhmin desc , portNo asc
  	/* rems.facility.persistence.EqmtInverterStatusMapper.retrieveInvSttsInqty */
	]]>
	<include refid="rems.common.persistence.CommonMapper.PagingTemplateBottom" />
	</select>
	
	<!-- 인버터 상세 -->
	<select id="retrieveInverterStatusDtl" parameterType="Map" resultType="GridInverterStatusVo">
	<![CDATA[
		SELECT
		          A.STR_CD 				AS strCd
				, B.STR_NM             	AS strNm    
				, A.YYYYMMDD             	AS yyyyMmDd
				, A.HHMIN             	AS hhMin    
				, DATE_FORMAT(A.YYYYMMDD,'%Y-%m-%d') 	AS yyyyMmDdView
				, CONCAT(SUBSTR(A.HHMIN,1,2), ':', SUBSTR(A.HHMIN,3,2)) AS hhMinView   		
				, A.HUB_ID         		AS hubId
				, A.PORT_NO         		AS portNo
				, A.DEVICE_TYPE         	AS deviceType
				, A.FW_VER         		AS fwVer
				, A.MODEL         		AS model
				, SUBSTRING(A.ALARM_MASK,9,16)     	AS alarmMask
				, SUBSTRING(A.ALARM_SP,9,16)  		AS alarmSp
				, A.ERR_CD         		AS errCd
				, A.OPER_MODE         	AS operMode
				, A.SENS_TEMP         	AS sensTemp
				, A.SENS_TEMP_CONF        AS sensTempConf
				, A.SENS_TEMP_OUT         AS sensTempOut
				, A.MAX_TEMP_ALARM_YN     AS maxTempAlarmYn
				, A.MAX_TEMP         		AS maxTemp
				, A.MIN_TEMP_ALARM_YN     AS minTempAlarmYn
				, A.MIN_TEMP         		AS minTemp
				, A.DEFROST_SENS_TEMP     AS defrostSensTemp
				, A.DEFW_OWNER         	AS defwOwner
				, A.DEFROST_TEMP_CONF     AS defrostTempConf
				, A.DEFROST_TERM          AS defrostTerm
				, A.DEFROST_DELAY         AS defrostDelay
				, A.DEWATER_DELAY         AS dewaterDelay
				, A.SEND_SP         		AS sendSp
				, A.REGI_ID         		AS regiId
				, A.REGI_DTTM         	AS regiDttm
				, A.FINAL_MOD_ID         	AS finalModId
				, A.FINAL_MOD_DTTM        AS finalModDttm
		  FROM TH_STR_INV_HUB_STATUS A, TH_STR_INFO_MST B
		WHERE A.STR_CD = B.STR_CD
		    AND A.STR_CD	= #{strCd}
		    AND B.USE_YN = 'Y'
		    AND A.YYYYMMDD = #{yyyyMmDd}
		    AND A.HHMIN = #{hhMin}
		    AND A.HUB_ID = #{hubId}
		    AND A.PORT_NO = #{portNo}
	]]>
	</select>
	
	<select	id="retrieveInverterTempChartData" parameterType="Map" resultType="Map">
	<![CDATA[			
		SELECT
		          SUBSTRING(YYYYMMDD,1,4)   AS yyyy
			    , SUBSTRING(YYYYMMDD,5,2)   AS mm
			    , SUBSTRING(YYYYMMDD,7,2)   AS dd
			    , SUBSTRING(HHMIN,1,2)      AS hh
			    , SUBSTRING(HHMIN,3,2)      AS min
			    , SENS_TEMP                 AS sens_temp
			    , ALARM_SP                  AS alarm_sp
			    , MIN_TEMP                  AS min_temp
			    , MAX_TEMP                  AS max_temp
		  FROM TH_STR_INV_HUB_STATUS
		 WHERE STR_CD      = #{strCd}
			 AND YYYYMMDD = #{yyyyMmDd}
			 AND HUB_ID       = #{hubId}
			 AND PORT_NO    = #{portNo}
		 ORDER BY HHMIN ASC
	]]>	
	</select>
	
</mapper>